name: "Deploy Serverless E-commerce"

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Necesario para conectarse a AWS de forma segura
  contents: read

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Debug Files (¿Donde esta main.tf?)
        run: |
          echo "La carpeta actual es:"
          pwd
          echo "Los archivos aqui son:"
          ls -la


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # --- ¡IMPORTANTE! ---
          # Asegúrate de que este ARN coincide con el que configuraste al principio
          # Si no lo recuerdas, búscalo en AWS IAM -> Roles -> github-actions-role
          role-to-assume: arn:aws:iam::380058194204:role/github-actions-role 
          aws-region: eu-west-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan